# desktop
ie 11
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
last 2 Opera versions

# mobile (Chrome and Firefox are the same on desktop and mobile)
last 2 iOS versions
last 2 samsung versions
